body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #d6d6d6;
}
body {
  /* background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 75%, #000 75%, #000), linear-gradient(45deg, #000 25%, #fff 25%, #fff 75%, #000 75%, #000); */
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}

#slider-container {
  text-align: center;
  margin-bottom: 20px;
  bottom: 20px;
  position: absolute;
  font-family: "Futura";
  font-size: 12px;
}

#slider-container1 {
  margin-bottom: 1rem;
}

#mySlider {
  -webkit-appearance: none;
  /* width: 100%; */
  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#mySlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #009e12; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#mySlider2 {
  -webkit-appearance: none;

  height: 10px;
  border-radius: 10px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#mySlider2::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: #4a4a4a; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#clock {
  height: 200px;
  width: 200px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #5c5c5c;
  border-radius: 50%;
  display: inline-block;
  top: 35.8%;
  position: absolute;
  /* transform: rotate(45deg); */
  /* transform-origin: 50% 50%; */
}

#hour-hand {
  width: 20px;
  height: 60px;
  background-image: linear-gradient(#000000, #00ff1e);
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  top: 42%;
  left: 50%;
  /* transform-origin: 50% 0%; */
  transform-origin: bottom;
  /* transform: translateX(0%) rotate(45deg); */
  transition: transform 0.5s;
}

#minute-hand {
  width: 6px;
  height: 80px;
  background-color: #d6d6d6;
  box-shadow: 2px 2px 3px #424242;
  border-radius: 4px;

  position: absolute;
  top: 38.5%;
  left: 50%;
  /* transform-origin: 50% 0%; */
  transform-origin: bottom;
  transform: translateX(0%) rotate(0deg);
  transition: transform 0.5s;
  z-index: 2;
}
